.input__search-container {
 display: flex;
 justify-content: center;
 margin: 8em 5em 3em 10em;
}
.input__search-products {
   border: 1px solid rgba(0, 0, 0, 0.5);
   width: 25em;
   border-right: none;
}
.input__search-products:focus {
  outline: none;
}
.input__search-products::placeholder {
  opacity: 0.7;
}
.search__input-btn {
  padding: 0;
}
.btn__search-p {
  font-size: 1.8em;
  background-color: #f85555;
  color: #fff;
  padding: 0.2em 0.9em;
  border-radius: 0 0.2em 0.2em 0;
}
.btn__search-p:hover {
  filter: brightness(1.2);
}
.home__products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
  padding: 2em 0;
  padding-right: 0;
  margin-left: 6em;
}
.filter__section {
  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 400px;
  bottom: 5em;
}
/** footer styles */
.footer__home-container {
  background: #3c3c3b;
  width: 100%;
  height: 12em;
  position: absolute;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__copyright {
  text-align: center;
}
.images__container {
  display: flex;
  gap: 2em;
  margin-top: 1.8em;
}
.img__container {
  width: 4em;
  height: 4em;
  background-color: #525251;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-img {
  width: 2.5em;
}
.img__container:hover {
  filter: brightness(1.2);
}
